.inicio{
    display: flex;
}

.container1 {
    margin: 90px;
    background-color: #FFB465;
    width: 100%;
    max-width: 500px;
    height: 100%; 
    max-height: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

h2{
    font-size: 38px;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form p {
    font-weight: bold;
    margin-bottom: 5px; 
}

form input {
    width: 400px;
    height: 30px;
    margin-bottom: 10px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #ffffff;
    border-radius: 10px;
}

.buttonS {
    width: 70%;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.googleButton {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.googleButton img {
    width: 80px;
}

.buttonR{
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.form1{
    margin-bottom: 20px;
}

.form2{
    margin-bottom: 20px;
}

hr {
    width: 70%;
    border: none;
    height: 1px;
    background-color: white;
    margin: 20px 0;
}

.container2 {
    flex: 1;
    background-image: url('../assets/unimet.jpeg');
    background-size: cover;
    background-position: center;
}

.error {
    color: red;
    font-size: 14px;
  }