.inicio{
    background-image: url('../assets/universidad-metropolitana.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 38px;
    margin-top: 50px;
}

.container {
    background-color: #FFB465;
    width: 100%;
    max-width: 500px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 90px;
}

button{
    background-color: #ffffff;
    border-radius: 10px;
}

.inicio button{
    background-color: #ffffff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.inicio button:hover {
    background-color: #C3C6CB;
}

.buttonr{
    width: 70%;
    height: 45px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.buttonI{
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
}

input{
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.googleButton {
    display: flex;
    align-items: center;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.googleButton:hover {
    filter: grayscale(50%);
  }

.googleButton img {
    width: 80px;
}

.error {
    color: red;
    font-size: 14px;
  }

  hr {
    width: 70%;
    border: none;
    height: 1px;
    background-color: white;
    margin: 20px;
}